numpy==1.25.2
pandas==2.0.3
#psycopg2==2.9.1
psycopg2-binary==2.9.7
#pyodbc==4.0.31
requests==2.31.0
SQLAlchemy==1.4.16
# tqdm==4.62.0
# requests-toolbelt==0.9.1
# vk==2.0.2
# vk-api==11.7.0
cron-converter==1.0.2
# tenacity==8.0.1
